# .coveragerc

[run]
source = app
omit =
    */tests/*
    */.venv/*
    */venv/*
    */database/migrations/*
    */database/seeders/*
    tinker.py
    */__init__.py
    */__pycache__/*
    */.pytest_cache/*
    */.serverless/*

[report]
show_missing = true
precision = 2
